# system
.DS_Store

# direnv
.direnv/

# build output
dist/
.wrangler/

# cache
.eslintcache
\*.tsbuildinfo

# logs
logs
_.log
.pnpm-debug.log*

# dependencies
node_modules/

# generated wrangler types
worker-configuration.d.ts

# secrets
.env*
.dev.vars
